<footer class="pt-4 my-md-5 pt-md-5 border-top bg-dark text-white">
    <div class="row">
      <div class="col-6 col-md">
        <h5>Useful links</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/">Home</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/#features">Features</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/#installation">Installation</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/#contact">Contact us</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Open source links</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://github.com/EncryptEx/alerty">GitHub Repo</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1">Made with ❤ by <a class="link-secondary text-decoration-none" href="https://jaumelopez.dev">EncryptEx</a></
        </ul>
      </div>
    </div>
  </footer>